#about{
    height: 100vh;
}

.profilePhoto{
    position: absolute;
    top: -30px;
    left: -50px;
    width: 26%;
}

.aboutContainer{
    background-color: $primarycolor;
    display: flex;
    align-items: center;
    float: right;
    width: 75%;
    height: 60vh;
    margin-top: 25vh;
    position: relative;
}

.aboutText{
    width: 70%;
    padding-left: 100px;    
}

.blueSquare{
    position: absolute;
    bottom: -46px;
    right: 30%;
}

.profilePhoto2{
    display: none;
}


@media (max-width:700px){
    .aboutText {
       padding: 20px;
       width: 75%;
    }

    .profilePhoto{
        display: none;
    }

    .aboutContainer{
        width: 100%;
        margin-top: 0px;
        height: 50vh;
    }

    .profilePhoto2{
        display: block;
        width: 35%;
        margin: 22% 0 -8%;
        top: 25%;
        z-index: 9;
    }

    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}


@media (max-width: 500px){
    .aboutText {
        width: 95%;
    }
}


@media (max-width: 400px){
    .wrapper{
        font-size: 1.2rem;
    }
    .shape svg {
        width: 7vh;
        height: 7vh;
    }
    .aboutContainer{
        height: 55vh;
    }
}

@media (max-width: 320px){
    .wrapper{
        line-height: 2.2rem;
    }
    
}
