section{
    height: 100vh;
    border: 1px solid pink;
}

.right, .left{
    width: 50%;
    height: 90vh;
    float: left;
    display: flex;
}


//VAPORWAVE
.vwaveLaptop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    img{
        position: absolute;
        width: 45%;
        max-width: 500px;
        overflow: hidden;
    }


    video{
        width: 90%;
        max-width: 500px;
    }
}

#vaporwave{
    .right{
        flex-direction: column-reverse;
        .vwaveText{
            padding-right: 10%;
            position: relative;
        }
    }
    .left{
        height: 60vh;
    }
}

h3{
    margin-top: 30px;
}

.pinkWave{
    top: 5%;
    right: 55%;
}


@media (max-width: 800px){
    .right, .left{
        width: 100%;
        height: auto;
        float: none;
    }
    .vwaveLaptop{
        img{
            padding-bottom: 15px;
            width: 85%;
        }
        video{
            width: 90%;
        }
    }

    #vaporwave{
        .right{
            .vwaveText{
                padding-right:0;
                padding-top: 10vh;
                position: relative;
            }
        }
        .left{
            height: 45vh;
            justify-content: center;
        }
    }
}

@media (max-width:500px){
    #vaporwave .left {
        height: 40vh;
    }
    #vaporwave .right .vwaveText {
        padding: 0;
    }
    h3 {
        margin-top: 0px;
    }
}

//BALOOS BALOONS
#baloo{
    .left{
        background: $primarycolor;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 75%;
        height: 60vh;
        margin-top: 10%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(235, 235, 235, 0.2);
        &:hover{
            cursor: url('../../public/styles/assets/fightCat.png')20 20, auto;
        }
        .balooText{
            max-width: 600px;
        }
    }
    .right{
        flex-direction: column-reverse;
        width: 25%;
        img{
            margin: 0 0 5% -50%;
            &:hover{
            cursor: url('../../public/styles/assets/fightCat.png')20 20, auto;
        }
        }
    }
}

@media (max-width:800px){
    #baloo{
        .left{
            margin-top: 10%;
            width: 100%;
            padding: 5%;
        }
        .right{
            width: 100%;
            img{
                margin: -15% auto;
                width: 40%;
            }
        
        }
    }

     .balooText{
        width: 100%;
    }
}

@media (max-width:600px){
    #baloo{
        .right{
            // height: auto;
            img{
                margin: -15% auto;
                width: 50%;
            }
        }
    }
}

@media (max-width:400px){
    .wrapper{
        line-height: 2.5rem;
    }
}


//SOUNTRAK
#soundtrak{
    .left{
        position: relative;
        margin-top: 10vh;
        .soundtrakPhone{
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 30vh;
                }
            }
        .tealTriangle{
            right: 20%;
            bottom: 20%;
            z-index: -1;
        }
    }
    
    .right{
        flex-direction: column-reverse;
    }
}

.soundtrakLogo{
  height: 100px;
  width: 100px;
  display:flex;
  align-items: center;
  position: absolute;
    margin-top: -128px;
}

.line{
  width:10%;
  border-radius: 4px;
  margin-right:12px;
  animation: pulse 2s ease-in-out infinite   
}

.smallLeft{
  height: 24%;
  background-color: #78C8D5;
  animation-delay: 1s;
}

.mediumLeft{
  height: 73%;
  background-color: #78C8D9;
  animation-delay: 1.5s;
}

.middle{
  height: 100%;
  background-color:#78C8D9;
}

.mediumRight{
  height: 41%;
  background-color: #FF4738;
  animation-delay: 2s;
}

.smallRight{
  height: 13%;
  background-color: #60948B;
  animation-delay: 2.5s;
  margin-right: 0;
}

@keyframes pulse {
  50%{
    transform: scaleY(.7);
  }
  100%{
    transform: scaleY(1);
  }
}

@media (max-width: 800px){
    #soundtrak{
        flex-direction: column;
        display: flex;
        .left{
            margin-top: 0px;
            .soundtrakPhone{
                width: 28vh;
                img{
                    width: 100%;
                }
            }
        }
        .right{
            margin-top: 10vh;
            order: -1;
        }
    }
}


@media (max-width: 600px){
    #soundtrak{
        .left{
            .soundtrakPhone{
              
                img{
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 500px){
    #soundtrak{
        .left{
            .soundtrakPhone{
                width: 15vh;
                img{
                    width: 100%;
                }
            }
        }
        .right{
            h2{
                margin-top: 0;
            }
        }
    }
}


//PSD Conversion

.psdMockUps{
    img{
        width: 30%;
    }
}


