nav{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(125, 125, 125, 0.1), 0 1px 2px rgba(255, 255, 255, 0.2);
}

ul{
    display: flex;
    a{
        text-decoration: none;
        color: $blue;
        margin-right: 15px;
        li{
         transition: all 0.3s ease;
        }
         &:last-child{
            margin-right: 0;
            }
        &:hover{
            color: #A3EACD;
        }
    }
   
    
}

.navLists{
    display: flex;
    justify-content: space-between;
}
