#splashPage{
    background: $primarycolor;
    height: 100vh;
    position: relative;
    z-index: 9;
    .headingText{
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9;
    }
}


h1{
    font-family: $primaryfont;
    font-size: 4rem;
    letter-spacing: 1px;
}

.shape{
    position: absolute;
    svg{
        width: 9vh;
        height: 9vh;
    }
}

.yellowCircle{
    left: 57%;
    top: 43%;
}

.pinkSquiggle{
    left: 7%;
    top: 57%;
     svg{
        width: 15vh;
        height: 15vh;
    }
}

.greenSquare{
    left: 40%;
    top: 83%;
}

.tealCircle{
    left: 20%;
    top: 12%;
}

.darkBlueTriangle{
    right: 7%;
    top: 70%;
}

.greyWave{
    right: 12%;
    top: 13%;
    svg{
        width: 15vh;
        height: 15vh;
    }
}

.mouse-down {
    position: absolute;
    left: 50%;
    top: 93%;
    -webkit-transform: translate(-50%, -93%);
    -ms-transform: translate(-50%, -93%);
    transform: translate(-50%, -93%);
    .bullet {
        width:1px;
        height: 4vh;
        background:$blue;
        position:relative;
        -webkit-animation: scrollDownUp 2s infinite;
        animation: scrollDownUp 2s infinite;
    }
}

@-webkit-keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
} 

@keyframes scrollDownUp {
    0% {top: 5px;}
    50% {top: 20px;}
    100% {top: 5px;}
}