#videoWork{
    #baloo{
        .left{
            height: 68vh;
            &:hover{
                cursor: default;
            }
        }

        .right{
            margin-top: 5%;
            img{
                width: 350px;
                margin-top: -20%;
                cursor: default;
            }
            .videoAd_mockup{
                width: 250px;
            }
        }
    }
}

 @media (max-width: 800px){
     #videoWork{
         #baloo{
            .right{
                 img {
                width: 60%;
                margin-top: -23%;
            }
            .videoAd_mockup{
                width: 40%;
            }
            .thunderdome_mockup{
                margin-top: -10%;
            }
            }
           

    
         }
     }  
}