article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
  color: #26496C; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 3rem; }

h2 {
  font-family: "Lora", serif; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

img {
  width: 300px; }

#splashPage {
  background: #F4E8E2;
  height: 100vh;
  position: relative;
  z-index: 9; }
  #splashPage .headingText {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9; }

h1 {
  font-family: "Lora", serif;
  font-size: 4rem;
  letter-spacing: 1px; }

.shape {
  position: absolute; }
  .shape svg {
    width: 9vh;
    height: 9vh; }

.yellowCircle {
  left: 57%;
  top: 43%; }

.pinkSquiggle {
  left: 7%;
  top: 57%; }
  .pinkSquiggle svg {
    width: 15vh;
    height: 15vh; }

.greenSquare {
  left: 40%;
  top: 83%; }

.tealCircle {
  left: 20%;
  top: 12%; }

.darkBlueTriangle {
  right: 7%;
  top: 70%; }

.greyWave {
  right: 12%;
  top: 13%; }
  .greyWave svg {
    width: 15vh;
    height: 15vh; }

.mouse-down {
  position: absolute;
  left: 50%;
  top: 93%;
  -webkit-transform: translate(-50%, -93%);
  transform: translate(-50%, -93%); }
  .mouse-down .bullet {
    width: 1px;
    height: 4vh;
    background: #26496C;
    position: relative;
    -webkit-animation: scrollDownUp 2s infinite;
    animation: scrollDownUp 2s infinite; }

@-webkit-keyframes scrollDownUp {
  0% {
    top: 5px; }
  50% {
    top: 20px; }
  100% {
    top: 5px; } }

@keyframes scrollDownUp {
  0% {
    top: 5px; }
  50% {
    top: 20px; }
  100% {
    top: 5px; } }

nav {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ul a {
    text-decoration: none;
    color: #26496C;
    margin-right: 15px; }
    ul a li {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    ul a:last-child {
      margin-right: 0; }
    ul a:hover {
      color: #A3EACD; }

.navLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#about {
  height: 100vh; }

.profilePhoto {
  position: absolute;
  top: -30px;
  left: -50px;
  width: 26%; }

.aboutContainer {
  background-color: #F4E8E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 75%;
  height: 60vh;
  margin-top: 25vh;
  position: relative; }

.aboutText {
  width: 70%;
  padding-left: 100px; }

.blueSquare {
  position: absolute;
  bottom: -46px;
  right: 30%; }

.profilePhoto2 {
  display: none; }

@media (max-width: 700px) {
  .aboutText {
    padding: 20px;
    width: 75%; }
  .profilePhoto {
    display: none; }
  .aboutContainer {
    width: 100%;
    margin-top: 0px;
    height: 50vh; }
  .profilePhoto2 {
    display: block;
    width: 35%;
    margin: 22% 0 -8%;
    top: 25%;
    z-index: 9; }
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 500px) {
  .aboutText {
    width: 95%; } }

@media (max-width: 400px) {
  .wrapper {
    font-size: 1.2rem; }
  .shape svg {
    width: 7vh;
    height: 7vh; }
  .aboutContainer {
    height: 55vh; } }

@media (max-width: 320px) {
  .wrapper {
    line-height: 2.2rem; } }

section {
  height: 100vh;
  border: 1px solid pink; }

.right, .left {
  width: 50%;
  height: 90vh;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.vwaveLaptop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15%; }
  .vwaveLaptop img {
    position: absolute;
    width: 45%;
    overflow: hidden; }
  .vwaveLaptop video {
    width: 90%; }

#vaporwave .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  #vaporwave .right .vwaveText {
    padding-right: 10%;
    position: relative; }

#vaporwave .left {
  height: 45vh; }

h3 {
  margin-top: 30px; }

.pinkWave {
  top: 5%;
  right: 55%; }

@media (max-width: 800px) {
  .right, .left {
    width: 100%;
    height: auto;
    float: none; }
  .vwaveLaptop img {
    padding-bottom: 15px;
    width: 85%; }
  .vwaveLaptop video {
    width: 90%; }
  #vaporwave .right .vwaveText {
    padding-right: 0;
    padding-top: 10vh;
    position: relative; }
  #vaporwave .left {
    height: 45vh; } }

@media (max-width: 500px) {
  #vaporwave .left {
    height: 40vh; }
  #vaporwave .right .vwaveText {
    padding-top: 0; }
  h3 {
    margin-top: 0px; } }

#baloo .left {
  background: #F4E8E2;
  width: 75%;
  padding: 10%;
  height: auto; }

#baloo .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 25%; }
  #baloo .right img {
    margin: 0 0 5% -50%; }

@media (max-width: 800px) {
  #baloo .left {
    width: 100%;
    margin-top: 10%;
    padding: 7%; }
  #baloo .right {
    width: 100%; }
    #baloo .right img {
      margin: -7% auto;
      width: 50%; }
  .balooText {
    width: 100%; } }

@media (max-width: 600px) {
  #baloo .right {
    width: 100%;
    height: auto; }
    #baloo .right img {
      margin: -8% auto;
      width: 50%; } }

@media (max-width: 400px) {
  .wrapper {
    line-height: 2.5rem; } }

.backtoTop img {
  width: 10px; }
